.TransactionsList {
  padding: 30px;
  height: 400px;
}

.ant-table table {
  font-size: 15px;
  font-weight: bold;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
}
.bezosButton {
  height: 30px;
  width: 100px;
}
.last {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
}

.Footer {
  width: 600px;
  display: flex;
  justify-content: center;
}

.Chart {
  padding: 20px;
  height: 350px;
  width: 550px;
}

.Spinner{
    height: 200px;
    width: 200px;
}
